<h2 id="title">Welcome to Ember</h2>

{{#no-style-component}}
	<h3>no-style-component</h3>
{{/no-style-component}}

{{#pixels-style-component}}
	<h3>pixels-style-component</h3>
{{/pixels-style-component}}

{{#string-style-component}}
	<h3>string-style-component</h3>
{{/string-style-component}}

{{#stylebindings-change-component}}
	<h3>stylebindings-change-component</h3>
{{/stylebindings-change-component}}

{{#yesno-style-component}}
	<h3>yesno-style-component</h3>
{{/yesno-style-component}}

{{#generated-style-component}}
	<h3>generated-style-component</h3>
{{/generated-style-component}}

{{outlet}}
